Repository altontonn/Recipe-app, pull requests merged in 2023-02, with the labels that each got.

#10 Add migrations form user and recipe
  .github/workflows/linters.yml
  .gitignore
  .rubocop.yml
  .stylelintrc.json
  Gemfile
  app/mailers/application_mailer.rb
  app/models/recipe.rb
  app/models/user.rb
  config.ru
  db/migrate/20230213163630_create_users.rb
  db/migrate/20230213165636_create_recipes.rb
  db/schema.rb
  package-lock.json
  package.json
  test/application_system_test_case.rb
  test/channels/application_cable/connection_test.rb
  test/fixtures/recipes.yml
  test/fixtures/users.yml
  test/models/recipe_test.rb
  test/models/user_test.rb
  test/test_helper.rb
Labels: User and Receipe

#11 Food and Recipe table
  .gitignore
  Gemfile
  Gemfile.lock
  Rakefile
  app/models/food.rb
  app/models/recipe.rb
  app/models/recipe_food.rb
  bin/bundle
  bin/importmap
  bin/rails
  bin/rake
  bin/setup
  config/application.rb
  config/boot.rb
  config/database.yml
  config/environment.rb
  config/environments/development.rb
  config/environments/production.rb
  config/environments/test.rb
  config/importmap.rb
  config/initializers/assets.rb
  config/initializers/content_security_policy.rb
  config/initializers/filter_parameter_logging.rb
  config/initializers/inflections.rb
  config/initializers/permissions_policy.rb
  config/puma.rb
  config/routes.rb
  db/migrate/20230213163630_create_users.rb
  db/migrate/20230213165636_create_recipes.rb
  db/migrate/20230213192127_create_foods.rb
  db/migrate/20230213193049_create_recipe_foods.rb
  db/schema.rb
  db/seeds.rb
  test/channels/application_cable/connection_test.rb
  test/fixtures/foods.yml
  test/fixtures/recipe_foods.yml
  test/models/food_test.rb
  test/models/recipe_food_test.rb
  test/test_helper.rb
Labels: Food_Recipe

#12 Route
  app/controllers/foods_controller.rb
  app/controllers/general_shopping_list_controller.rb
  app/controllers/public_recipes_controller.rb
  app/controllers/recipe_foods_controller.rb
  app/controllers/recipes_controller.rb
  app/helpers/foods_helper.rb
  app/helpers/general_shopping_list_helper.rb
  app/helpers/public_recipes_helper.rb
  app/helpers/recipe_foods_helper.rb
  app/helpers/recipes_helper.rb
  app/views/foods/index.html.erb
  app/views/foods/show.html.erb
  app/views/general_shopping_list/index.html.erb
  app/views/general_shopping_list/show.html.erb
  app/views/public_recipes/index.html.erb
  app/views/public_recipes/show.html.erb
  app/views/recipe_foods/index.html.erb
  app/views/recipes/index.html.erb
  app/views/recipes/show.html.erb
  config/routes.rb
Labels: routes

#15 Devise
  Gemfile
  Gemfile.lock
  app/controllers/application_controller.rb
  app/models/recipe.rb
  app/models/user.rb
  app/views/devise/confirmations/new.html.erb
  app/views/devise/mailer/confirmation_instructions.html.erb
  app/views/devise/mailer/email_changed.html.erb
  app/views/devise/mailer/password_change.html.erb
  app/views/devise/mailer/reset_password_instructions.html.erb
  app/views/devise/mailer/unlock_instructions.html.erb
  app/views/devise/passwords/edit.html.erb
  app/views/devise/passwords/new.html.erb
  app/views/devise/registrations/edit.html.erb
  app/views/devise/registrations/new.html.erb
  app/views/devise/sessions/new.html.erb
  app/views/devise/shared/_error_messages.html.erb
  app/views/devise/shared/_links.html.erb
  app/views/devise/unlocks/new.html.erb
  app/views/layouts/application.html.erb
  config/environments/development.rb
  config/initializers/devise.rb
  config/locales/devise.en.yml
  config/routes.rb
  db/migrate/20230214215020_add_devise_to_users.rb
  db/schema.rb
Labels: Devise

#16 Food list landing page
  Gemfile
  Gemfile.lock
  app/controllers/foods_controller.rb
  app/models/user.rb
  app/views/devise/registrations/new.html.erb
  app/views/foods/_food.html.erb
  app/views/foods/_form.html.erb
  app/views/foods/index.html.erb
  app/views/foods/new.html.erb
  app/views/foods/show.html.erb
  app/views/layouts/application.html.erb
  app/views/shared/_error_form_message.html.erb
  config/database.yml
  config/routes.rb
  db/migrate/20230213163630_create_users.rb
  db/migrate/20230213192127_create_foods.rb
  db/schema.rb
Labels: Food_list

#17 Menu
  app/assets/images/nice-restaurant-background-illustrated_52683-60539.avif
  app/assets/stylesheets/application.css
  app/views/layouts/_header.html.erb
  app/views/layouts/application.html.erb
  app/views/layouts/header.html.erb
  config/routes.rb
Labels: Menu

#18 Add recipe list with CRUD functionality
  Gemfile
  Gemfile.lock
  app/assets/stylesheets/style.css
  app/controllers/recipes_controller.rb
  app/models/food.rb
  app/models/recipe.rb
  app/models/user.rb
  app/views/recipes/_form.html.erb
  app/views/recipes/index.html.erb
  app/views/recipes/new.html.erb
  config/database.yml
  config/routes.rb
Labels: Recipe List

#20 Public Recipe
  .vscode/settings.json
  Gemfile
  Gemfile.lock
  app/assets/stylesheets/application.css
  app/assets/stylesheets/style.css
  app/controllers/public_recipes_controller.rb
  app/controllers/recipes_controller.rb
  app/models/recipe.rb
  app/views/foods/index.html.erb
  app/views/public_recipes/index.html.erb
  app/views/public_recipes/show.html.erb
  app/views/recipes/show.html.erb
  config/database.yml
Labels: Public Recipe
